h1{
    text-align: center;
    color: crimson;
}
h2{
    padding: 20px;
    margin: auto;
    text-align: center;
}
div.cajita{
    width: 85%;
    height: 85%;
    margin: auto;
    border: 4px solid black;
    color: brown;
    padding: 25px;
}
div.cajita.descendiente p{
    font-style: oblique;
    text-decoration: underline overline;
}
div.cajita.hijo > p{
    font-style: oblique;
    text-decoration: underline overline;
}
div.cajita.adyacente + p{
    font-style: oblique;
    text-decoration: underline overline; 
}
div.cajita.hermano ~ p{
    font-style: oblique;
    text-decoration: underline overline;  
}
/*
<div class="cajita descendiente">A la clase se aplica pseudo clase con :
  …
    <p>   Al elemento se le aplica pseudoelemento con ::
*/    