h1{
    text-align: center;
    color: rgb(120, 13, 120);
}
div{
    margin: auto;
    padding: 20px;
    max-width: 400px;
}
.iazul{
    font-size: 2em;
     color:rgb(151, 97, 201)
}


